
.App {
  /* background-color: black; */
  /* height: 500px; */
}


.App-header {
  background-image: url(./glitter-gold.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-size: 1.5em;
  /* margin: 0 200px; */
  height: 300px;
  /* width: 100% */
}

.App-header::after {
  content: "";
  clear: both;
  display: table;
}

nav ul li {
  color: black;
  list-style-type: none;
  display: inline-flex;
  padding: .5em;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-color: lightblue; */
}

nav {
  /* background-color: black; */
  float: right;
  margin:10px 50px 0px 0px;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav  a:hover {
  color: fuchsia;
  cursor: pointer;
}


.HomeBodyContainer {
  padding: .5em;
  text-align: center;
}

.BoxContainers {
  display: inline-flex;
  flex-wrap: wrap;
}

.BoxContainers div {
  border: 3px solid rosybrown;
  margin: 100px 30px;
  padding: 1em;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
}

.BoxContainers div:hover {
  cursor: pointer;
  background-color: pink;
  color: white;
}

.imgPlaceholder {
  margin: 0 auto;
  width: 100px;
}

.BlogContainer {
  background-color: lightblue;
}

.BlogContainer-div {
  display: inline-flex;
  margin: 50px 20%;
}

.featuredBlogImage {
  background-color: white;
  vertical-align: top;
  padding: 15px;
  margin: 0 30px;
  border-radius: 50%;
  border: 2px solid black
}

.featuredBlogText {
  text-align: left;
  padding-top: 10px;
}

.featuredBlogHeading {
  margin-top: 0;
  font-size: 2em;
}

.featuredBlog {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  /* padding-right: 400px; */
}

.FooterDiv {
  background-color: pink;
  /* display: inline-flex; */
  text-align: center;
  padding: 3px;
}

.FooterDiv ul {
  display: inline-flex;
  list-style-type: none;
}

.FooterDiv li {
  padding: 5px;
}

.FooterDiv a:link {
  text-decoration: none;
  color: rosybrown;
}

.FooterDiv a:hover {
  color: white;
}







